.bioButton {
  /* background-color: red; */
  border: none;
  color: #007bff;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 0px;
}
